*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: "Roboto", serif;;

}
nav{
    background-color: #000000;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 25px 50px;
    margin: 0px 40px;
}
.nav{
    display: flex;
    justify-content:center;
    padding: 0px 5px;
}
.logo{
    height: auto;
    width: 130px;
}


.text{
    margin: 10px;
    font-size: 25px;
}
.text:hover{
    text-decoration: underline;
}
.nav-btns{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: background-color 0.3s ease;
}
.request{
    padding: 10px 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    border: 1px solid;
    align-items: center;
 }
.signin{
    padding: 10px 30px;
    background-color: #4174e1;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 18px;
    font-weight: bolder;
    transition: background-color 0.3s ease;
    border: none;
}
.signin:hover{
    background-color: white;
    color: black;
}
.body{
        display: flex;
        flex-direction: column;
        background-color: #ddd9f1;
        justify-content: center;
        align-items: center;
        height: 300px;

    }
.body p{
    font-size: 60px;
    font-family: sans-serif;
}
    .searchbar{
        display: flex;
        justify-content: space-between;
        width: 700px;
        height: 60px;
        border: 1px solid;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        margin-top: 20px;
        background-color: white;
        align-items: center;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
    
    }
    .searchbar .bx-right-arrow-alt :hover{
        color: blue;
        width: 15px;
        font-size:16px ;
    } 
    .searchbar input{
        border: none;
        font-size: 18px; 

        }
    input:focus{
        outline: none;
        border: none;
    }
    .searchbar i {
        color: black;
        transform: scaleX(1.0);
        padding-right: 20px;
     }
    
    .fields{
        display: flex;
        justify-content: space-between; 
        align-items: flex-start; 
        gap: 20px; 
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap; 
        padding: 60px;
    }
    .services, .teams {
        position: relative; 
        padding-left: 100px; 
        margin-bottom: 15px;
        margin-top: 60px;
        width: 48%; 
    }
    
    .services img, .teams img {
        position: absolute;
        left: 0; 
        top: 5px; 
        width: 80px; 
        height: auto;
    }
    
    .fields h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .fields p {
        margin: 20px 0;
        font-size: 18px;
        color: #666;}
    .bx-right-arrow-alt{
            color: blue;
            width: 15px;
        } 
        
         .div-Branches a {
            color: #0066ff;
            text-decoration: none;
            font-weight: bold;
            margin-top: 10px;
        } 
        
        .div-Branches a:hover {
            text-decoration: underline;
        } 
    
    footer{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
    } 
    .footer-div{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 70px;
    }
    .footer-div h3{
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px 0;
    }
    .footer-div p{
    justify-content: right;
    padding: 0 auto;
    margin-bottom: 8px;
}
    .footer-div p:hover{
   text-decoration: underline; 
}
    .footer-img{
    width: 30px;
    height: 30px;
    background-color: white;
}
    .footer-i{
    font-size: 20px;
    align-content: end;
}
    .footer-i p:hover{
    text-decoration: none;
    }